# Personal

# Data
data/
data_v1/
data_v2/

# Jupyter Notebook
*.ipynb_checkpoints/
*.ipynb
# !v1_01_pps.ipynb
# !v1_02_model_prod.ipynb
!*_blueprint.ipynb

# Python
__pycache__/

# vscode
.vscode/

# Mac
.DS_Store
